<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.alibaba.com/schema/stat"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd">

    <!-- 开启SpringMVC的注解驱动功能 -->
    <mvc:annotation-driven/>

    <!-- 让SpringMVC对没有@RequestMapping的请求直接放行 -->
    <mvc:default-servlet-handler/>
</beans>